@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Mooli&family=Open+Sans:wght@400;500;600;700;800&display=swap");

.contact_us {
  background-image: url("../images/Rectangle\ 672.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 70px 0;
  overflow: hidden;
}

.contact_us h1 {
  font-family: "Mooli", sans-serif;
  color: white;
  font-size: 64px;
  margin-top: -10px;
}

.contact_us button {
  margin-top: -20px;
}

.contact_us button:hover {
  background-color: aliceblue;
  color: black;
  font-weight: 600;
  font-family: Lato;
  font-size: 18px;
}

.social-handles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 300px;
  text-align: center;
}

.social-handles h3 {
  color: var(--Black, var(--White, #151515));
  text-align: center;
  font-family: Lato;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.social-handles p{
  color: var(--Black, var(--White, #151515));
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Phone {
  position: relative;
  left: 30px;
}

.social-icons{
  font-size: 28px;
  margin: 10px 12px;
  margin-top: -5px;
}

footer p {
  color: #888888;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 33px;
  margin-top: 4vh;
}
